@font-face {
    font-family: "myfont";
    src: url(../Fonts/iranyekanwebmedium.2d4f96e5.woff);
  }
  * {
    font-family: "myfont";
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  .shegefts{
    width: 1340px;
    height: 110px;
    display: flex;
    align-items: center;
    position: relative;
    top: 260px;
    background-color: #ECEEED;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    margin: auto;
    cursor: pointer;
    .img-svg{
        width: 60px;
        height: 60px;
        position: relative;
        right: 30px;
    }
    .svg-shegefts{
        position: relative;
        right: 50px;
    }
    .shegefts-discount{
        width: 105px;
        height: 30px;
        background-color: #39AE00;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        position: relative;
        right: 80px;
        color: white;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
}
    .pics-shegefts{
        width: 76px;
        height: 76px;
        background-color: white;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        position: relative;
        left: -200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 5px;
        & img{
            width: 50px;
            height: auto;
            position: relative;
        }
        .discount{
            width: 34px;
            height: 20px;
            border-radius: 16px;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
            background-color: #d32f2f;
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 12px;
            color: white;
            text-align: center;
            line-height: 20px;
}
    }
    .more-shegefts{
        width: 145px;
        height: 50px;
        margin-right: 5px;
        background-color: white;
        color: #39AE00;
        position: relative;
        left: -200px;
        line-height: 50px;
        text-align: center;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        font-size: 12px;
        & svg{
            position: relative;
            top: 6px;
            right: 2px;
        }
}
}
/* four pics css */
.fourpics{
    width: 1340px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
    top: 280px;
    & img {
      width: 325px;
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      -ms-border-radius: 16px;
      -o-border-radius: 16px;
    }
}

.kharid-daste{
    width: 1300px;
    height: 415px;
    /* background-color: #d32f2f; */
    position: relative;
    top: 300px;
    margin: auto;
    .top-kharid{
        width: 1300px;
        height: 60px;
        /* background-color: #39AE00; */
        line-height: 60px;
        text-align: center;
        font-size: 21px;
    }
    .slider-kharid{
        margin-top: 20px;
        .swiper {
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
          }
      
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            height: calc((100% - 30px) / 2) !important;
      
            /* Center slide text vertically */
            /* display: flex;
            justify-content: center;
            align-items: center; */

            & img{
                width: 100px;
                height: 100px;
            }
            & p{
                font-size: 12px;
                /* font-weight: 600; */
            }
          }
    }
    .swiper-pagination{
        display: none;
    }
}
.firstrow {
    width: 1340px;
    height: 254px;
    position: relative;
    top: 300px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    & a {
      display: block;
      & img {
        width: 660px;
        height: 254px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
      }
    }
  }

  .mahbub {
    width: 1340px;
    height: 222px;
    background-color: white;
    margin: auto;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border: 1px solid #e2e2e2;
    position: relative;
    top: 320px;
    .top-mahbub {
      width: 1280px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 21px;
      & svg {
        position: relative;
        left: 5px;
      }
    }
    .mahbub-slider {
      width: 1260px;
      height: 140px;
      margin: auto;
      .swiper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .swiper-slide {
        height: 120px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: right;
        border-left: 1px solid #e2e2e295;
      }
  
      .swiper-slide img {
        display: block;
        width: 90%;
        object-fit: cover;
      }
  
      .swiper-pagination {
        display: none;
      }
    }
  }

.secondrow {
    width: 1340px;
    height: 254px;
    display: flex;
    position: relative;
    top: 340px;
    justify-content: space-between;
    margin: auto;
    & a {
      display: block;
      & img {
        width: 660px;
        height: 254px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
      }
    }
  }

.box1{
  width: 1340px;
  height: 418px;
  border: 1px solid #e0e0e2;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  position: relative;
  top: 360px;
  margin: auto;
  display: flex;
  .column-box1{
    width: 335px;
    height: 418px !important;
    cursor: pointer;
    border-left: 1px solid #e0e0e2;
    .box1top{
      width: 300px;
      height: 55px;
      /* background-color: aqua; */
      margin: auto;
      margin-top: 10px;
      font-size: 16px;
      color: #23254E;
      line-height: 25px;
      & p{
        font-size: 11.5px;
        color: #818588;
      }
    }
    /* bottom */
    .box1bottom{
      width: 335px;
      height: 340px;
      margin-top: 10px;
      .box1-row1{
        width: 300px;
        height: 140px;
        margin: auto;
        border-bottom: 1px solid #e0e0e2;
        display: flex;
        justify-content: space-evenly;
        & img{
          width: 130px;
          height: 130px;
        }
        .borderbox{
          width: 1px;
          height: 300px;
          background-color: #e0e0e2;
          position: relative;
          left: 0px;
        }
      }
      .box1-row2{
        width: 300px;
        height: 160px;
        margin: auto;
        display: flex;
        & img{
          margin-top: 10px;
          width: 150px;
          height: 150px;
        }
      }
      .moshahede{
        color: #19bfd3;
        font-size: 12px;
        font-weight: 600px;
        text-align: center;
        margin-top: 8px;
        margin-right: 3px;
        & svg{
          position: relative;
          top: 6px;
          left: 5px;
        }
      }
    }
  }
  .column-box1f{
    width: 335px;
    height: 418px !important;
    cursor: pointer;
    .box1top{
      width: 300px;
      height: 55px;
      /* background-color: aqua; */
      margin: auto;
      margin-top: 10px;
      font-size: 16px;
      color: #23254E;
      line-height: 25px;
      & p{
        font-size: 11.5px;
        color: #818588;
      }
    }
    /* bottom */
    .box1bottom{
      width: 335px;
      height: 340px;
      margin-top: 10px;
      .box1-row1{
        width: 300px;
        height: 140px;
        margin: auto;
        border-bottom: 1px solid #e0e0e2;
        display: flex;
        justify-content: space-evenly;
        & img{
          width: 130px;
          height: 130px;
        }
        .borderbox{
          width: 1px;
          height: 300px;
          background-color: #e0e0e2;
          position: relative;
          left: 0px;
        }
      }
      .box1-row2{
        width: 300px;
        height: 160px;
        margin: auto;
        display: flex;
        & img{
          margin-top: 10px;
          width: 150px;
          height: 150px;
        }
      }
      .moshahede{
        color: #19bfd3;
        font-size: 12px;
        font-weight: 600px;
        text-align: center;
        margin-top: 8px;
        margin-right: 3px;
        & svg{
          position: relative;
          top: 6px;
          left: 5px;
        }
      }
    }
  }
}

.purple-box{
  width: 1340px;
  height: 390px;
  background-color: #941B80;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  position: relative;
  top: 390px;
  margin: auto;
  display: flex;
  /* align-items: center; */
  .rightp{
    width: 416px;
    height: 355px;
    position: relative;
    top: 40px;
    right: 50px;
    & p{
      color: white;
      font-size: 14px;
      position: relative;
      top: 2px;
    }
    .borderp{
      width: 105px;
      height: 40px;
      border: 1px solid white;
      font-size: 13px;
      color: white;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      margin-top: 10px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }
  & img{
    width: 350px;
    position: absolute;
    bottom: 25px;
    right: 30px;
  }
  }
  .leftp{
    width: 868px;
    height: 355px;
    background-color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
    left: -35px;
    top: 18px;
    .topleft{
      width: 838px;
      height: 65px;
      display: flex;
      justify-content: space-between;
      margin: auto;
      & p{
        position: relative;
        top: 8px;
        font-size: 16px;
        & svg{
          position: relative;
          top: 6.5px;
        }
      }
      & span{
        position: relative;
        top: 8px;
        font-size: 12px;
        color: #941B80;

        & svg{
          position: relative;
          top: 6.5px;
          right: -5px;
        }
      }
    }
    .bottomleft{
      width: 855px;
      height: 280px;
      .purple-pic{
        width: 835px;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        margin-bottom: 20px;
        & img{
          width: 116px;
        }
      }
    }
}
}

.digi-club{
  width: 1340px;
  height: 88px;
  background-color: #007295;
  position: relative;
  top: 410px;
  margin: auto;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  display: flex;
  align-items: center;

  .svg-club{
    position: absolute;
    right: 40px;
    top: 26px;
  }

  .pics-club{
    width: 839px;
    height: 65px;
    position: absolute;
    left: 20px;
    display: flex;
    justify-content: space-between;
    .picture-digi1{
      width: 278px;
      height: 65px;
      background-color: white;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      position: relative;
      display: flex;
      align-items: center;
      & svg{
        position: absolute;
        right: 20px;
      }
      & p{
        position: absolute;
        right: 50px;
        font-size: 12px;
      }
      & img{
        width: 160px;
        height: 65px;
        position: absolute;
        left: 0.5px;
        object-fit: cover;
      }
    }
    .picture-digi2{
      width: 278px;
      height: 65px;
      background-color: white;
      position: relative;
      display: flex;
      align-items: center;
      & svg{
        position: absolute;
        right: 20px;
      }
      & p{
        position: absolute;
        right: 50px;
        font-size: 12px;
      }
      & img{
        width: 160px;
        height: 65px;
        position: absolute;
        left: 0.5px;
        object-fit: cover;
      }
    }
    .picture-digi3{
      width: 278px;
      height: 65px;
      background-color: white;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      position: relative;
      display: flex;
      align-items: center;
      & svg{
        position: absolute;
        right: 20px;
      }
      & p{
        position: absolute;
        right: 50px;
        font-size: 12px;
      }
      & img{
        width: 160px;
        height: 65px;
        position: absolute;
        left: 0.5px;
        object-fit: cover;
      }
    }
  }
}

.box2{
  width: 1340px;
  height: 418px;
  border: 1px solid #e0e0e2;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  position: relative;
  top: 435px;
  margin: auto;
  display: flex;
  .column-box1{
    width: 335px;
    height: 418px !important;
    cursor: pointer;
    border-left: 1px solid #e0e0e2;
    .box1top{
      width: 300px;
      height: 55px;
      /* background-color: aqua; */
      margin: auto;
      margin-top: 10px;
      font-size: 16px;
      color: #23254E;
      line-height: 25px;
      & p{
        font-size: 11.5px;
        color: #818588;
      }
    }
    /* bottom */
    .box1bottom{
      width: 335px;
      height: 340px;
      margin-top: 10px;
      .box1-row1{
        width: 300px;
        height: 140px;
        margin: auto;
        border-bottom: 1px solid #e0e0e2;
        display: flex;
        justify-content: space-evenly;
        & img{
          width: 130px;
          height: 130px;
        }
        .borderbox{
          width: 1px;
          height: 300px;
          background-color: #e0e0e2;
          position: relative;
          left: 0px;
        }
      }
      .box1-row2{
        width: 300px;
        height: 160px;
        margin: auto;
        display: flex;
        & img{
          margin-top: 10px;
          width: 150px;
          height: 150px;
        }
      }
      .moshahede{
        color: #19bfd3;
        font-size: 12px;
        font-weight: 600px;
        text-align: center;
        margin-top: 8px;
        margin-right: 3px;
        & svg{
          position: relative;
          top: 6px;
          left: 5px;
        }
      }
    }
  }
  .column-box1f{
    width: 335px;
    height: 418px !important;
    cursor: pointer;
    .box1top{
      width: 300px;
      height: 55px;
      /* background-color: aqua; */
      margin: auto;
      margin-top: 10px;
      font-size: 16px;
      color: #23254E;
      line-height: 25px;
      & p{
        font-size: 11.5px;
        color: #818588;
      }
    }
    /* bottom */
    .box1bottom{
      width: 335px;
      height: 340px;
      margin-top: 10px;
      .box1-row1{
        width: 300px;
        height: 140px;
        margin: auto;
        border-bottom: 1px solid #e0e0e2;
        display: flex;
        justify-content: space-evenly;
        & img{
          width: 130px;
          height: 130px;
        }
        .borderbox{
          width: 1px;
          height: 300px;
          background-color: #e0e0e2;
          position: relative;
          left: 0px;
        }
      }
      .box1-row2{
        width: 300px;
        height: 160px;
        margin: auto;
        display: flex;
        & img{
          margin-top: 10px;
          width: 150px;
          height: 150px;
        }
      }
      .moshahede{
        color: #19bfd3;
        font-size: 12px;
        font-weight: 600px;
        text-align: center;
        margin-top: 8px;
        margin-right: 3px;
        & svg{
          position: relative;
          top: 6px;
          left: 5px;
        }
      }
    }
  }
}

.daq-tarin {
  width: 1340px;
  height: 410px;
  /*background-color: #17bfd3;
  */
  margin: auto;
  margin-top: 460px;
  border: 1px solid #e0e0e2;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  text-align: left;
  & a {
    text-decoration: none;
    display: block;
    position: relative;
    top: 20px;
    left: 20px;
    color: #17bfd3;
    font-size: 14px;
  }
  .upside {
    display: flex;
    justify-content: center;
    position: relative;
    top: -10px;
    width: 1280px;
    height: 65px;
    .svg-porforosh {
      margin-top: 8px;
      margin-left: 7px;
      line-height: 65px;
    }
    .text-porforosh {
      font-size: 21px;
      line-height: 65px;
    }
  }
  .slider3 {
    width: 100%;
    height: 320px;
    .swiper {
      width: 90%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 0px;
    }

    .swiper-slide {
      width: 350px;
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* height: calc((100% - 10px) / 2) !important; */
      height: 65px !important;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      & a {
        text-decoration: none;
        display: flex;
        /* background-color: #6dba291f; */
        & img {
          width: 75px;
          height: 75px;
          margin-bottom: 40px;
        }
        .leftside {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid rgba(181, 181, 181, 0.253);
          margin-right: 10px;
          margin-bottom: 15px;
          .number {
            font-size: 25px;
            margin-left: 8px;
            font-weight: 800;
            color: #17bfd3;
            margin-bottom: 20px;
          }
          .stext {
            font-size: 12px;
            color: black;
            width: 180px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .swiper-pagination {
      display: none;
    }
  }
}

.digikalamag {
  width: 1280px;
  height: 10px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  & p {
    font-size: 15px;
    font-weight: 800;
  }
  & a {
    text-decoration: none;
    color: #17bfd3;
    font-size: 12px;
    & svg {
      position: relative;
      top: 5.5px;
      right: -4px;
    }
  }
}

/* digikala magazine */
.magazine {
  width: 1340px;
  height: 270px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  .images-mag {
    width: 320px;
    height: 270px;
    /* background-color: #17bfd3; */
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border: 1px solid #e2e2e2;

    & img {
      width: 320px;
      height: 200px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    & p {
      font-size: 12px;
      text-align: right;
      padding: 10px 10px;
    }
  }
}

/* hr */
.hrr {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e2e2e2;
}

/* button top and logo digikala  */
.logo-id {
  width: 97%;
  height: 70px;
  margin: 30px auto;
  /* background-color: #17bfd3; */
  display: flex;
  justify-content: space-between;
  .logo-idsvg {
    /* & svg{

    } */
    & pre {
      font-size: 12px;
      line-height: 40px;
      color: rgba(0, 0, 0, 0.734);
    }
  }
  .button-top {
    width: 130px;
    height: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    & a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      .text-topid {
        font-size: 12px;
        position: relative;
        top: 4px;
        color: #a1a3a8;
      }
      .svg-topid {
        position: relative;
        top: 6.5px;
        right: 3px;
      }
    }
  }
}

/* pardakht 5 svg */
.pardakht {
  width: 1280px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .svg-pardakht {
    width: 170px;
    margin: auto;
    text-align: center;
    & a {
      text-decoration: none;
      .text-pardakht {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.734);
      }
    }
  }
}

.khadamat {
  width: 97%;
  height: 320px;
  /* background-color: #17bfd3; */
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  .khadamat1 {
    width: 25%;
    & p {
      line-height: 38px;
    }
    & a {
      display: block;
      text-decoration: none;
      line-height: 38px;
      color: #939393;
      font-size: 14.6px;
    }
  }
  .khadamat2 {
    width: 25%;
    & p {
      line-height: 38px;
    }
    & a {
      display: block;
      text-decoration: none;
      line-height: 38px;
      color: #939393;
      font-size: 14.6px;
    }
  }
  .khadamat3 {
    width: 25%;
    & p {
      line-height: 38px;
    }
    & a {
      display: block;
      text-decoration: none;
      line-height: 38px;
      color: #939393;
      font-size: 14.6px;
    }
  }
  .khadamat4 {
    width: 25%;
    & p {
      line-height: 38px;
    }
    .svgs4 {
      width: 60%;
      display: flex;
      justify-content: space-between;
      margin: 20px;
      & a {
        text-decoration: none;
      }
    }
    & form {
      margin-top: 10px;
      .email4 {
        width: 280px;
        height: 45px;
        color: #f0f0f1;
        background-color: #f0f0f1;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        outline: unset;
        border: 1px solid white;
        padding-right: 10px;
      }
      .submit4 {
        width: 55px;
        height: 45px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        background-color: #e0e0e2;
        border: unset;
        color: white;
      }
    }
  }
}

.downapp {
  width: 1488px;
  height: 78px;
  background-color: #3c4b6d;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin: -40px auto;
  display: flex;
  align-items: center;
  & img {
    width: 48px;
    height: 45px;
    position: relative;
    right: 15px;
  }
  & p {
    color: white;
    font-size: 21px;
    position: relative;
    right: 30px;
  }
  & svg {
    position: relative;
    right: 640px;
    margin-right: 15px;
  }
  .more-down {
    width: 45px;
    height: 45px;
    background-color: white;
    position: absolute;
    right: 1430px;
    margin-left: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    & svg {
      position: relative;
      right: -15px;
    }
  }
}

.prize {
  width: 1488px;
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 40px;
  margin-top: 70px;
  border-top: 1px solid #e0e0e2;
  border-bottom: 1px solid #e0e0e2;
  .prize-text {
    width: 1000px;

    & pre {
      font-size: 22px;
      color: #62666de3;
    }
    & p {
      position: relative;
      top: -15px;
      font-size: 12px;
      color: #81858b;
      line-height: 25px;
    }

    & span {
      position: relative;
      top: -15px;
      font-size: 12px;
      color: #17bfd3;
      & svg {
        position: relative;
        top: 5px;
      }
    }
  }
  .image-p {
    width: 345px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    .img-p {
      width: 105px;
      height: 105px;
      border: 1px solid #e2e2e2;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      text-align: center;
      & img {
        width: 80px;
        position: relative;
        top: 10px;
      }
    }
    .img-pp {
      width: 105px;
      height: 105px;
      border: 1px solid #e2e2e2;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      text-align: center;
      & img {
        width: 60px;
        position: relative;
        top: 10px;
      }
    }
  }
}

.matn {
  width: 1000px;
  margin: 40px auto;
  font-size: 11px;
  text-align: center;
  color: #81858b;
}

.brands {
  width: 100%;
  /* height: 160px; */
  background-color: #f0f0f1;
  
  .topbrands {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e0e0e2;
    display: flex;
    justify-content: center;
    align-items: center;
    .digiclub {
      width: 12.5%;
      height: 80px;
      border-left: 1px solid #e0e0e2;
      text-align: center;
      & svg{
        position: relative;
        top: 12px;
      }
    }
  }
  .bottombrands{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e0e0e2;
    display: flex;
    justify-content: center;
    align-items: center;
    .diginext{
      width: 14.28%;
      height: 80px;
      border-left: 1px solid #e0e0e2;
      text-align: center;
      & svg{
        position: relative;
        top: 12px;
      }
    }
  }
}

